{
  description = "{{ description }}";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-unstable";
    flake-utils.url = "github:numtide/flake-utils";
  };

  outputs = { self, nixpkgs, flake-utils }:
    flake-utils.lib.eachDefaultSystem (system:
      let
        pkgs = nixpkgs.legacyPackages.${system};
      in
      {
        packages.default = pkgs.callPackage ./default.nix {};
        packages.{{ app_name }} = pkgs.callPackage ./default.nix {};
        apps.default = {
          type = "app";
          program = "${pkgs.callPackage ./default.nix {}}/bin/{{ app_name }}";
        };
      }
    );
}
