{ pkgs ? import <nixpkgs> {} }:

let
  fhs = pkgs.buildFHSUserEnv {
    name = "{{ app_name }}-fhs";
    targetPkgs = pkgs_: with pkgs_; [
      {% for dep in deps %}
      {{ dep }}
      {% endfor %}
    ];
    multiPkgs = pkgs_: with pkgs_; [
      glibc
      zlib
      stdenv.cc.cc.lib
    ];
    runScript = "{{ main_binary }}";
    profile = ''
      export FHS=1
      export APP2NIX_FHS_ENV=1
    '';
  };
in
  fhs.env
